{% extends 'admin_base.html.twig' %}
{% block title %}Multimédia{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Multimédia</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}"><i
                                        class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item active">Multimédia</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Multimédia</h3>

                            <div class="card-tools">
                                <a href="{{ path('admin_media_create') }}" class="btn btn-primary w-100"
                                   title="Přidat multimédium">
                                    Přidat multimédium
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Název</th>
                                        <th class="text-center">Akce</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in media %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('admin_media_show', {id: file.id}) }}" title="Zobrazit multimédium: {{ file.name }}">
                                                    {{ file.id }}
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ path('admin_media_show', {id: file.id}) }}" title="Zobrazit multimédium: {{ file.name }}">
                                                    {{ file.name }}
                                                </a>
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ path('admin_media_update', {'id': file.id}) }}"
                                                   title="Upravit multimédium" class="m-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>

                                                <a href="{{ path('admin_media_delete', {'id': file.id}) }}"
                                                   title="Smazat multimédium" class="m-2 text-red"
                                                   onclick="return confirm('Opravdu si přejete smazat toto multimédium? Tato operace je nevratná.')">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        {% if media.pageCount > 1 %}
                            <div class="card-footer">

                                <div class="navigation custom-navigation pt-2 pb-4">
                                    {{ knp_pagination_render(media) }}
                                </div>
                            </div>
                            <!-- /.card-footer-->
                        {% endif %}
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
