{% extends 'admin_base.html.twig' %}
{% block title %}
    Uživatelé
{% endblock %}
{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Správa uživatelů</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}"><i
                                        class="fa fa-home"></i></a></li>
                        <li class="breadcrumb-item active">Uživatelé</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Uživatelé</h3>

                            <div class="card-tools">
                                <a href="{{ path('admin_users_create') }}" class="btn btn-primary w-100"
                                   title="Přidat uživatele">
                                    Přidat uživatele
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>E-mail</th>
                                        <th>Vytvořeno</th>
                                        <th>Poslední přihlášení</th>
                                        <th class="text-center">Akce</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in users %}
                                        <tr>
                                            <td>{{ user.id }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.createdAt|date('H:i d.m.Y') }}</td>
                                            <td>
                                                {% if user.lastLogin is not empty %}
                                                    {{ user.lastLogin|date('H:i d.m.Y') }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                            <td class="text-center">
                                                <a href="{{ path('admin_users_update', {'id': user.id}) }}"
                                                   title="Upravit uživatele" class="m-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>

                                                <a href="{{ path('admin_users_delete', {'id': user.id}) }}"
                                                   title="Smazat uživatele" class="m-2 text-red"
                                                   onclick="return confirm('Opravdu si přejete smazat tohoto uživatele? Tato operace je nevratná.')">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        {% if users.pageCount > 1 %}
                            <div class="card-footer">

                                <div class="navigation custom-navigation pt-2 pb-4">
                                    {{ knp_pagination_render(users) }}
                                </div>
                            </div>
                            <!-- /.card-footer-->
                        {% endif %}
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}
