{% extends 'security_base.html.twig' %}
{% block title %}
    Obnova hesla
{% endblock %}
{% block content %}
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="{{ path('admin_login') }}" class="h1">Administrace</a>
            <p>{{ app_base_name }}</p>
        </div>
        <div class="card-body">
            {% for flash_error in app.flashes('reset_password_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <p class="login-box-msg">
                Zde si můžete změnit své heslo.
            </p>
            {{ form_start(resetForm) }}
            <div class="mb-3">
                {{ form_label(resetForm.plainPassword.first) }}
                <div class="input-group">
                    {{ form_widget(resetForm.plainPassword.first) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                {{ form_label(resetForm.plainPassword.second) }}
                <div class="input-group mb-3">
                    {{ form_widget(resetForm.plainPassword.second) }}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-key"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Uložit heslo</button>
                </div>
                <!-- /.col -->
            </div>
            {{ form_end(resetForm) }}

            <p class="mt-3 mb-1">
                <a href="{{ path('admin_login') }}" title="Přihlásit se">Přihlásit se</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
{% endblock %}
